# Ignore Visual Studio temporary files
.vs/
# Ignore build directories
**/bin/
obj/
# Ignore user-specific files
*.user
*.suo
# Ignore logs
*.log
# Ignore configuration files
*.config
/OhjelmistoTuotanto1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ar/Microsoft.Maui.Controls.resources.dll
